# KHUDA 9기 ML세션
2026.02.05 (목)

In [1]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [2]:
# dataset repository path
url = "https://raw.githubusercontent.com/gaeng02/KHUDA-9th-ML/main/week3/dataset.csv"

In [3]:
df = pd.read_csv(url)
df.head()

   id    area  rooms    age  distance  neigh_score  parking     price
0   1   91.09      3  27.01      6.46            0        1  67724.36
1   2   64.20      1  39.85      6.24            0        0  20955.23
2   3  100.01      3  26.77      6.52            1        0  78745.76
3   4  103.81      3   0.00      7.61            0        1  89959.19
4   5   45.98      1  17.20      3.97            0        1  26501.37

In [4]:
### answer init
answer = [0] * 5

In [5]:
print(df['age'])

0      27.01
1      39.85
2      26.77
3       0.00
4      17.20
       ...
215     0.00
216      NaN
217     0.00
218     8.09
219    20.97
Name: age, Length: 220, dtype: float64

## Task 1
df의 feature중 `age`에는 결측값(NaN)이 있습니다. <br>
`age`의 중앙값을 구하고, `answer[1]`에 저장하세요. <br>
해당 값으로 결측치를 채운 `df`를 만드세요.

In [14]:
## Input Box

age_median = 0

age_median = np.median(df['age'].dropna())

df['age'] = df['age'].fillna(age_median)


answer[1] = age_median
print(answer[1])

18.74

## Task 2
전처리된 `df`로 회귀를 돌려봅시다. <br>
- `feature = ["area", "rooms", "age", "distance", "neigh_score", "parking"]`으로 `"price"`를 예측한다.
- split에서 `test_size = 0.2`, `random_state = 25`
- LinearRegression을 진행하고, 테스트의 RMSE를 소숫점 5번째에서 반올림하여 `answer[2]`에 저장한다.

In [40]:
## Input Box

feature_cols = ["area", "rooms", "age", "distance", "neigh_score", "parking"]

X_data = df[feature_cols]

y_target = df['price']

X_train, X_test, y_train, y_test = train_test_split(X_data, y_target, test_size = 0.2, random_state = 25)

lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

answer[2] = round(rmse, 4)
print(answer[2])

15632.9639

## Task 3
집값은 보통 넓은 집(`area`)에 방(`rooms`)이 많으면 더 비쌉니다. <br>
그래서 새로운 feature인 `area * room`를 추가하려합니다.
- `df["area_rooms"] = df["area"] * df["rooms"]`을 추가한다.
- `feature = ["area_rooms", "age", "distance", "neigh_score", "parking"]`으로 `"price"`를 예측한다.
- (Task 2와 동일) split에서 `test_size = 0.2`, `random_state = 25`
- (Task 2와 동일) LinearRegression을 진행하고, 테스트의 RMSE를 소숫점 5번째에서 반올림하여 `answer[3]`에 저장한다.

In [51]:
## Input Box

new_feature_cols = ["age", "distance", "neigh_score", "parking", "area_rooms"]

df["area_rooms"] = df["area"] * df["rooms"]

X_data = df[new_feature_cols]

y_target = df['price']

X_train, X_test, y_train, y_test = train_test_split(X_data, y_target, test_size = 0.2, random_state = 25)

lr = LinearRegression()
lr.fit(X_train,y_train)
y_pred = lr.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
print(X_data.head())


answer[3] = round(rmse, 5)
print(answer[3])

     age  distance  neigh_score  parking  area_rooms
0  27.01      6.46            0        1      273.27
1  39.85      6.24            0        0       64.20
2  26.77      6.52            1        0      300.03
3   0.00      7.61            0        1      311.43
4  17.20      3.97            0        1       45.98
14483.47488

## Task 4
Task 3에서 만든 모델을 이용하여 다음 집의 가격을 예측하세요. <br>
- 다음 데이터를 `Dataframe`으로 만든다.
- `area_rooms`도 만든다.
- task3의 model로 predict한다.
- 이때의 예측값을 int로 만들어서, `answer[4]`에 저장한다.

\<Caution> Task 3의 모델을 그대로 이용하기 때문에, Task 3를 완료한 후 진행하세요.

In [57]:
## Input Box

predict = 0
very_good_home = {

    'age': 10.0,
    'distance': 6.0,
    'neigh_score': 2,
    'parking': 1,
    'area_rooms' : 270
}

home_df = pd.DataFrame([very_good_home])



print(home_df.head())
y__ = lr.predict(home_df)
predict = int(y__)


answer[4] = int(predict)
print(answer[4])

    age  distance  neigh_score  parking  area_rooms
0  10.0       6.0            2        1         270
121029

/tmp/ipython-input-485377944.py:19: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  predict = int(y__)

# 정답 확인!

In [58]:
print("=== 작성하신 정답 ===")
for i in range (1, 5) : print("Task " + str(i) + " :: " + str(answer[i]))

=== 작성하신 정답 ===
Task 1 :: 18.74
Task 2 :: 15632.9639
Task 3 :: 14483.47488
Task 4 :: 121029

In [59]:
### 정답 채점 코드
import hashlib

ANSWER_URL = "https://raw.githubusercontent.com/gaeng02/KHUDA-9th-ML/main/week3/answer.csv"

def md5 (s) : return hashlib.md5(s.encode("utf-8")).hexdigest()

ans_df = pd.read_csv(ANSWER_URL)
gt = {int(r["task"]): str(r["answer"]).strip().lower()
      for _, r in ans_df.iterrows()}

wrong = []

for i in range(1, 5) :
    user_answer = "" if answer[i] is None else md5(str(answer[i]).strip().lower())
    if (user_answer != gt.get(i, "")) : wrong.append(i)

print("탈출!" if not wrong else f"틀린번호 : {wrong}")

탈출!